
header {
    text-align: center;
    background: url('https://i.imgur.com/HmtZVPk.png');
    background-size: 1200px 600px;
    background-position: center;
    color: white;
    font-family: helvetica;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  a {
    color: white;
  }
  h1 {
    font-size: 70px;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background:rgba(128, 226, 131, 0.3);
  }
  .myprofile {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
    border-radius: 50%;
  }
  
  @media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
  }